﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model SalesManagement.Models.Category

<section class="content-header">
    <h1>
        Add New Category 
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Category Information</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form method="post" asp-area="admin" asp-controller="category" asp-action="add" >
                    <div class="box-body">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" asp-for="Name" id="name"
                                   required ="required">
                        </div>
                             
                        <div class="checkbox">
                            <label>
                                <input type ="checkbox" asp-for="Status"> Status
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


