﻿@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model SalesManagement.Models.Account
<section class="content-header">
    <h1>
       Profile
    </h1>
   
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Account Information</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <span class="text-green">@ViewBag.msg</span>
                <form asp-area="admin" asp-controller="login" asp-action="profile" role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" required="required" asp-for="Username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" required="required" asp-for="Password">
                        </div>
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" class="form-control" id="fullName" required="required" asp-for="FullName">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" required="required" asp-for="Email">
                        </div>

                        <div class="form-group">
                            <label for="address">Address<sup>*</sup></label>
                            <input type="text" class="form-control" id="address" required="required" asp-for="Address">
                        </div>
                        <div class="form-group">
                            <label for="email">Phone</label>
                            <input type="text" class="form-control" id="phone" required="required" asp-for="Phone">
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <input type="hidden" asp-for=" Id"/>
                    </div>
                </form>
            </div>
          
        </div>
    </div>
</section>

