﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using SalesManagement.Models;
<div class="well well-small">
    <h4>Featured Products <small class="pull-right">@(ViewBag.CountFeaturedProducts)+ featured products</small></h4>
    <div class="row-fluid">
        <div id="featured" class="carousel slide">
            <div class="carousel-inner">
                <div class="item">
                    <ul class="thumbnails">
                        @foreach (var featuredProducts in ViewBag.FeaturedProducts)
                        {
                            //Product product = (Product)featuredProducts;
                            //Photo photo = product.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                            //var photoName = photo == null ? "thealbum.jpg" : photo.Name;
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a asp-controller="product" asp-action="details" asp-route-id="@featuredProducts.Id">
                                        <img src="~/products/thealbum.jpg">
                                    </a>
                                    <div class="caption">
                                        <h5>@featuredProducts.Name</h5>
                                        <h4>
                                            <a class="btn" asp-controller="product" asp-action="details" asp-route-id="@featuredProducts.Id">VIEW</a>
                                            <span class="pull-right">@featuredProducts.Price</span>
                                        </h4>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

            </div>
            <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#featured" data-slide="next">›</a>
        </div>
    </div>
</div>
<h4>Latest Products </h4>
<ul class="thumbnails">
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="~/user/themes/images/products/6.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <p>
                    Lorem Ipsum is simply dummy text.
                </p>

                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="~/user/themes/images/products/7.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <p>
                    Lorem Ipsum is simply dummy text.
                </p>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="~/user/themes/images/products/8.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <p>
                    Lorem Ipsum is simply dummy text.
                </p>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="~/user/themes/images/products/9.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <p>
                    Lorem Ipsum is simply dummy text.
                </p>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="~/user/themes/images/products/10.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <p>
                    Lorem Ipsum is simply dummy text.
                </p>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="~/user/themes/images/products/11.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <p>
                    Lorem Ipsum is simply dummy text.
                </p>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div>
    </li>
</ul>




