﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model SalesManagement.Areas.Admin.Models.ViewModels.ProductViewModel;

<section class="content-header">
    <h1>
        Edit Product
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Category Information</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form method="post" asp-area="admin" asp-controller="product" asp-action="edit">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" asp-for="Product.Name"
                                   required="required">
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="3" asp-for="Product.Description"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Details</label>
                            <textarea class="form-control" rows="3" asp-for="Product.Details"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="name">Price</label>
                            <input type="number" class="form-control" asp-for="Product.Price"
                                   required="required" min="0">
                        </div>

                        <div class="form-group">
                            <label for="name">Quantity</label>
                            <input type="number" class="form-control" asp-for="Product.Quantity"
                                   required="required" min="0">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" asp-for="Product.Status"> Status
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" asp-for="Product.Featured"> Featured
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select asp-for="Product.CategoryId" asp-items="@Model.Categories"
                                    class="form-control"></select>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <input type="hidden" asp-for="Product.Id"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


