﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model SalesManagement.Models.Account

<section class="content-header">
    <h1>
        Edit Customer
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Customer Information</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form method="post" asp-area="admin" asp-controller="customer" asp-action="edit">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="name">Username</label>
                            <input type="text" class="form-control" asp-for="Username"
                                   required="required" readonly="readonly">
                        </div>

                        <div class="form-group">
                            <label for="name">Password</label>
                            <input type="password" class="form-control" asp-for="Password">
                        </div>

                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <input type="text" class="form-control" asp-for="FullName"
                                   required="required">
                        </div>

                        <div class="form-group">
                            <label for="name">Email</label>
                            <input type="text" class="form-control" asp-for="Email"
                                   required="required">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" asp-for="Status"> Status
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="address">Address<sup>*</sup></label>
                            <input type="text" class="form-control" id="address" required="required" asp-for="Address">
                        </div>
                        <div class="form-group">
                            <label for="email">Phone</label>
                            <input type="text" class="form-control" id="phone" required="required" asp-for="Phone">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <input type="hidden" asp-for="Id" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


