﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        Customer List
    </h1>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Customer List</h3>
                </div>

                <div class="box-body">
                    <table id="customerListTable" class="table table-bordered table-hover ">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customer in ViewBag.Customers)
                            {
                                <tr>
                                    <td>@customer.Id</td>
                                    <td>@customer.Username</td>
                                    <td>@customer.FullName</td>
                                    <td>@customer.Email</td>
                                    <td>@(customer.Status ? "Active" : "Blocked")</td>
                                    <td>
                                        <a asp-area="admin" asp-controller="customer" asp-action="edit"
                                           asp-route-id=" @customer.Id">Edit </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                @*/.box-body*@
            </div>
            @*//box*@
        </div>
    </div>

</section>
<script>
    $(function () {
        $('#customerListTable').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>



